<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame">


    <h1>Find Teams</h1>

      <label>Look for an existing team</label>
      <input type="text" id="team_name"><button class="btn btn--secondary" id="search_team">Search</button>

    </div>

  </div>

</div>

<script>
  $('#search_team').on('click', searchTeam)
</script>
