<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame">


    <h1><%= @team.name.capitalize %></h1>

    <h4> Categories in this team </h4>

      <ul>
        <% @team.categories.each do |c| %>
        <li><%= link_to c.title.capitalize, category_display_path(@team.name, c.title)%></li>
        <% end %>
      </ul>

    <h4>Users in this team</h4>
      <ul>
        <% @team.users.each do |u| %>
        <li><%= link_to u.full_name, user_path(u)%></li>
        <% end %>
      </ul>

    </div>




  </div>

</div>
