<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row">
        <h1 id="page_title"><%= @page.title.capitalize %></h1>

        <h4> <%= @page.description %></h4>

        <!-- to modify a page, pages#update and create new version -->

      </div>

    </div>

  </div>

</div>