<p><%= @sender.full_name %> has invited you to join the team <b><%= @team.name.capitalize %> on Basicshapes</b></p>
<p>Please click <a href="<%=ENV['SENDGRID_DOMAIN']%>">here</a> to login or sign up and accept the invitation</p>