
    <div class="three columns left-navigation">
    
    <%= button_to "Create Category", new_category_path, method: :get %>

    <% @categories.each do |category| %>
    <div class="category-left"><%= link_to category.title.capitalize, category_path(category.title) %></div>
    <% end %>

	<% unless params[:controller] == "frames" %>
	<hr />
	<%= link_to "Guidlines", root_path %>
	<% end %>

    </div>
