<div class="container">

  <div class="row">

<!-- Left Column -->
    <div class="three columns left-navigation">
      
    Left Column
    


    </div>

<!-- Main body -->

    <div class="eight columns frame">


    Main Body



    </div>

<!-- Empty Column -->

    <div class="one column"></div>




    Empty Column



  </div>

</div>