<div class="container">

  <div class="row">

<!-- Left Column -->
    <div class="three columns left-navigation">
      
    <% @categories.each do |category| %>
    <div class="category-left"><%= link_to category.title, category_path(category) %></div>
    <% end %>


    </div>

<!-- Main body -->

    <div class="eight columns frame">


    Main Body



    </div>

<!-- Empty Column -->

    <div class="one column"> Empty Column </div>


  </div>

</div>