<div class="container">

  <div class="card--center">

    <div class="six columns frame main-container">

        <div class="row">

          <h2>Thanks for signing up</h2>

          <p><%= @user.first_name.capitalize %>, we have sent a confirmation email to your inbox. It could take a couple of minutes to be delivered, thanks for your patience!</p>

          <p><%= button_to "Resend confirmation", resend_confirmation_path(:user_id => @user.id), class: "btn btn--secondary create" %></p>



        </div>

      </div>

   </div>

  </div>
