<div class="container">

  <div class="card--center">

    <div class="six columns frame main-container">

        <div class="row">

          <h2>Thanks for signing up</h2>

          <p><%= @name.capitalize %>, we have sent a confirmation email to your inbox. It could take a couple of minutes to be delivered, thanks for your patience!</p>

        </div>

      </div>

   </div>

  </div>
