<?xml version="1.0" encoding="UTF-8"?>
<svg width="50px" height="16px" viewBox="0 0 50 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Group 10</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="16" height="16" rx="1"></rect>
        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
        <circle id="path-3" cx="8" cy="8" r="8"></circle>
        <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white">
            <use xlink:href="#path-3"></use>
        </mask>
        <path d="M7.55274312,0.894513756 C7.79975627,0.40048745 8.19775391,0.395507812 8.44725688,0.894513756 L15.5527431,15.1054862 C15.7997563,15.5995125 15.5553691,16 14.9991283,16 L1.00087166,16 C0.448105505,16 0.197753906,15.6044922 0.447256878,15.1054862 L7.55274312,0.894513756 Z" id="path-5"></path>
        <mask id="mask-6" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="15.2984047" height="15.4778757" fill="white">
            <use xlink:href="#path-5"></use>
        </mask>
    </defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Uploads" transform="translate(-42.000000, -19.000000)">
            <g id="Nav">
                <g id="Group-10" transform="translate(42.000000, 19.000000)">
                    <g id="Group-Copy-14">
                        <use id="Rectangle-2" stroke="#000C26" mask="url(#mask-2)" stroke-width="2" fill="#F33040" xlink:href="#path-1"></use>
                        <rect id="Rectangle-5" fill="#DD0112" x="9" y="1" width="6" height="14"></rect>
                    </g>
                    <g id="Group-4-Copy-11" transform="translate(18.000000, 0.000000)">
                        <use id="Oval" stroke="#000C26" mask="url(#mask-4)" stroke-width="2" fill="#FFED99" xlink:href="#path-3"></use>
                        <path d="M1.01897317,7.48066659 C1.00639825,7.65213562 1,7.82532061 1,8 C1,11.8659932 4.13400675,15 8,15 C11.8659932,15 15,11.8659932 15,8 C15,4.13400675 11.8659932,1 8,1 C7.82532061,1 7.65213562,1.00639825 7.48066659,1.01897317 C10.5696304,1.263822 13,3.84808938 13,7 C13,10.3137085 10.3137085,13 7,13 C3.84808938,13 1.263822,10.5696304 1.01897317,7.48066659 Z" id="Combined-Shape" fill="#FFE366"></path>
                    </g>
                    <g id="Group-8-Copy-8" transform="translate(34.000000, 0.000000)">
                        <use id="Triangle-Copy-5" stroke="#000C26" mask="url(#mask-6)" stroke-width="2" fill="#4158D9" xlink:href="#path-5"></use>
                        <polygon id="Path-3-Copy" fill="#142581" points="8 2 8 15 14 15"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
