<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>calendar</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Guidelines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M0,1.99406028 C0,0.892771196 0.894513756,0 1.99406028,0 L14.0059397,0 C15.1072288,0 16,0.894513756 16,1.99406028 L16,14.0059397 C16,15.1072288 15.1054862,16 14.0059397,16 L1.99406028,16 C0.892771196,16 0,15.1054862 0,14.0059397 L0,1.99406028 Z M2,2.99077797 L2,7.00922203 C2,7.54902482 2.44358641,8 2.99077797,8 L7.00922203,8 C7.54902482,8 8,7.55641359 8,7.00922203 L8,2.99077797 C8,2.45097518 7.55641359,2 7.00922203,2 L2.99077797,2 C2.45097518,2 2,2.44358641 2,2.99077797 Z" id="calendar" fill="#BFBFBF"></path>
    </g>
</svg>
