<?xml version="1.0" encoding="UTF-8"?>
<svg width="16px" height="11px" viewBox="0 0 16 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 2 2 2 1.5 0 7.5 0 8 2 13 2 15 11 2 11"></polygon>
        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="15" height="11" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
    </defs>
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-8" transform="translate(0.000000, -181.000000)">
            <g id="Group-2-Copy" transform="translate(0.000000, 175.000000)">
                <g id="Group" transform="translate(0.000000, 3.000000)">
                    <rect id="mask" x="0" y="0" width="16" height="16"></rect>
                    <g id="icon" transform="translate(0.000000, 3.000000)">
                        <rect id="Rectangle-15" fill="#FFFFFF" x="7" y="1" width="8" height="7"></rect>
                        <polyline id="Path-2" stroke="#000F28" points="9 0.5 15.5 0.5 14.5 11"></polyline>
                        <use id="Rectangle-14" stroke="#000F28" mask="url(#mask-2)" stroke-width="2" fill="#BFBFBF" xlink:href="#path-1"></use>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>