<?xml version="1.0" encoding="UTF-8"?>
<svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Group 4</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="aaa" x="0" y="0" width="32" height="32" rx="16"></rect>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="bbb">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
        </filter>
        <mask id="ccc" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="32" fill="white">
            <use xlink:href="#aaa"></use>
        </mask>
        <rect id="ddd" x="0" y="0" width="32" height="32" rx="16"></rect>
        <mask id="eee" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="32" fill="white">
            <use xlink:href="#ddd"></use>
        </mask>
        <mask id="fff" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="32" height="32" fill="white">
            <use xlink:href="#ddd"></use>
        </mask>
    </defs>
    <g id="ggg" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="hhh" transform="translate(-948.000000, -10.000000)">
            <g id="iii">
                <g id="jjj" transform="translate(950.000000, 11.000000)">
                    <mask id="kkk" fill="white">
                        <use xlink:href="#aaa"></use>
                    </mask>
                    <g id="lll">
                        <use fill="black" fill-opacity="1" filter="url(#bbb)" xlink:href="#aaa"></use>
                        <use stroke="#FFFFFF" mask="url(#ccc)" stroke-width="2" fill="#4158D9" fill-rule="evenodd" xlink:href="#aaa"></use>
                    </g>
                    <rect id="lll" fill="#9EF6FF" mask="url(#kkk)" transform="translate(16.000000, 16.000000) rotate(-315.000000) translate(-16.000000, -16.000000) " x="10" y="10" width="12" height="12" rx="1"></rect>
                    <mask id="mmm" fill="white">
                        <use xlink:href="#ddd"></use>
                    </mask>
                    <g id="lll" stroke="#FFFFFF" mask="url(#eee)" stroke-width="4">
                        <use mask="url(#fff)" xlink:href="#ddd"></use>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
