<div class="container">

  <div class="row">

<!-- Left Column -->

  <%= render "frames/side" %>


<!-- Main body -->

    <div class="eight columns frame main-container">

    <div class="create-category-row">
      <h6 class="breadcrumb">Create category</h6>
      <p class="description">Categories are the main sections of your guidelines. In this block you will add pages with the different content you want to show in your guidelines.</p>
    </div>

	  <%= form_tag({}, { :class => "create-category"}) do %>
	  <div>

	    <label for="Category title" >Title</label>
	    <input type="text" name="category[title]" id="category_title"
	      class="form-control">

	  </div>

	  <div>
	    <label for="Category description">Description</label>
	    <input type="text" name="category[description]" id="category_description"
	      class="form-control" maxlength="250">
	  </div>
<!--
    <div>
      <textarea class="froala"></textarea>
    </div>
-->
          <input type="hidden" name="category[team]" id="category_team" value="<%= session[:current_team]['id'] %>">
    <div class="actions">

      <button class="btn btn--primary btn--right btn-category-js">
  	    Save Category
  	  </button>

    </div>

	<% end %>

    </div>

  </div>

</div>
