<div class="container">

  <div class="row">

<!-- Left Column -->

  <%= render "frames/side" %>


<!-- Main body -->

    <div class="eight columns frame">

	<%= form_tag({}, { :class => "create-category"}) do %>
	  <div>
	    <label for="Category title">Title</label>
	    <input type="text" name="category[title]" id="category_title"
	      class="form-control">
	  </div>

	  <div>
	    <label for="Category description">Description</label>
	    <input type="text" name="category[description]" id="category_description"
	      class="form-control">
	  </div>

	  <button class="btn-category-js">
	    Save Category
	  </button>
	<% end %>

    </div>

  </div>

</div>
