<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame">


    <h1><%= @category.title.capitalize %></h1>
    <p><%= @category.description %></p>
    <%= link_to 'Delete this', category_path(@category.title), method: :delete %>

	<div id="froala_editor"></div>

    </div>

<!-- Empty Column -->

    <div class="one column empty"> Empty Column </div>


  </div>

</div>